<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programmer Salary Comparison</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class = "container">
        <h1>Welcome to the Programmer Salary Comparison program.</h1>
        <form action="/results" method="post">
            <label for="state"><h2>Please select US state from the list:</h2></label>
            <select name="state" id="state">
                <option value="California">California</option>
                <option value="Texas">Texas</option>
                <option value="New York">New York</option>
                <option value="Florida">Florida</option>
                <option value="Illinois">Illinois</option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>